**/xcuserdata
.DS_Store
.*.swp
.xcode*
node_modules
ios/dydx/fastlane
ios/dydx/Pods/abacus/.gradle
ios/dydx/Pods/abacus/build
ios/dydx/Pods/Abacus
ios/dydxV4/dydxV4/_Configurations/credentials.json
ios/dydxV4/dydxV4/_Configurations/GoogleService-Info-Staging.plist
ios/dydxV4/dydxV4/_Configurations/GoogleService-Info.plist
ios/scripts/secrets
ios/scripts/percy_test.sh

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# scan temporary files
**/fastlane/test_output

*.p12
*.certSigningRequest
*.cer
*.mobileprovision
*.ipa
*.dSYM.*
*.local
*.iml
.vscode
**/.gradle
local.properties
**/.idea
**/.kotlin
build/
captures
.externalNativeBuild
.cxx

android/dydxWallet/build
github.properties
android/scripts/secrets
android/app/src/debug/google-services.json
android/app/src/release/google-services.json
android/v4/common/src/main/res/values/strings.xml
android/.kotlin
